<p id="notice"><%= notice %></p>

<h1>Courses</h1>


<h2>My Courses</h2>
<table>
  <thead>
    <tr>

      <th>Course code</th>
      <th>Course name</th>
      <th></th>
      <th colspan="30"></th>
<%= link_to 'Add Course', new_educourse_path %>
    </tr>
  </thead>

  <tbody>
    <% @educourses.each do |educourse| %>
      <tr>
        <td><%= educourse.courseCode %></td>
        <td><%= educourse.courseName %></td>
        
        <td><%= link_to 'Show', educourse %></td>
        <td><%= link_to 'Edit', edit_educourse_path(educourse) %></td>
        <td><%= link_to 'Destroy', educourse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
