<!DOCTYPE html>
<html>
  <head>
    <title>Brain Map</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= link_to('Login', new_educator_session_path)  %>
       <%= link_to('Logout', destroy_educator_session_path, method: :delete) %>

    <%= yield %>
  </body>
</html>
